/*! Assign-1 */
/*? Any Element With Class Title */
.title {}

/*? Select Element Using 'Elemnt ID' */
#nav {}

/*? Select Element Using 'Elemnt Type' */
div {}

/*? Select Element Using 'Element Type' */
h2 {}

/*! Assign-2 */
/*? External Style Sheet */
/* <link rel="stylesheet" href="css/file.css" /> */

/*? Internal Style Sheet */
/* <style>
p {
  color: red;
}
</style> */

/*? Inline Style Sheet */
/* <p style="color: blue;">This Is Our Paragraph</p> */

/*! Assign-3 */
/* <link rel="stylesheet" href="./assets/css/master.css" /> */

/*! Assign-4 */
/* <link rel="stylesheet" href="../source/css/main.css" /> */

/*! Assign-5 */
/*? Valid */
/* ._user-name {} */

/*? Valid */
/* .-user-name {} */

/*? Valid */
/* .-user-name {} */

/*? Not Valid */
/* .1user-name {} */

/*? Not Valid */
/* .@user-name {} */

/*? Not Valid */
/* .user@name {} */

/*? Valid */
/* ._user10name {} */

/*? Valid */
/* .u {} */

/*! Assign-6 */
/*? Not Valid */
/* .USERNAME {} */

/*? Valid */
/* .UserName {} */

/*? Valid */
/* .user-name {} */

/*? Not Valid */
/* .userName {} */

/*? Valid */
/* .usernameprofile {} */

/*! Assign-7 */
.assign-1-shape-1 {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(138, 44, 226, 1);
  background-color: #8a2ce2;
  background-color: hsla(271, 76%, 53%, 1);
}

.assign-1-shape-2 {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(271, 76%, 53%, 0.75);
  background-color: #8a2ce2bf;
  background-color: hsla(271, 76%, 53%, 0.75);
}

.assign-1-shape-3 {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(138, 44, 226, 0.5);
  background-color: #8a2ce280;
  background-color: hsla(271, 76%, 53%, 0.5);
}

/*! Assign-8 */
.assign-2-shape-1 {
  width: 400px;
  height: 400px;
  background-color: #EEEEEE;
  background-image: url("./images/css-assignment-5-8.png");
  background-repeat: no-repeat;
}

.assign-2-shape-2 {
  width: 400px;
  height: 400px;
  background-color: #EEEEEE;
  background-image: url("./images/css-assignment-5-8.png");
  background-repeat: repeat-y;
}

.assign-2-shape-3 {
  width: 400px;
  height: 400px;
  background-color: #EEEEEE;
  background-image: url("./images/css-assignment-5-8.png");
  background-repeat: repeat-x;
}

.assign-2-shape-4 {
  width: 400px;
  height: 400px;
  background-color: #EEEEEE;
  background-image: url("./images/css-assignment-5-8.png");
}

/*! Assign-9 */
.assign-3-shape-1 {
  width: 400px;
  height: 400px;
  background-color: #EEEEEE;
  background-image: url("./images/css-assignment-5-8.png");
  background-repeat: no-repeat;
}

.assign-3-shape-2 {
  width: 400px;
  height: 400px;
  background-color: #EEEEEE;
  background-image: url("./images/css-assignment-5-8.png");
  background-repeat: repeat-y;
  background-position: right;
}

.assign-3-shape-3 {
  width: 400px;
  height: 400px;
  background-color: #EEEEEE;
  background-image: url("./images/css-assignment-5-8.png");
  background-repeat: repeat-x;
  background-position: bottom;
}

.assign-3-shape-4 {
  width: 400px;
  height: 400px;
  background-color: #EEEEEE;
  background-image: url("./images/css-assignment-5-8.png");
}

/*! Assign-10 */
.assign4 div {
  display: inline-block;
  background-color: #EEE;
  padding: 50px 80px;
  margin: 20px;
}

.assign4 .shape-1 {
  border: 10px solid red;
  outline: 10px solid black;
}

.assign4 .shape-2 {
  border: 10px solid;
  border-color: blue green;
  outline: 10px solid black;
}

.assign4 .shape-3 {
  border: 10px dashed;
  border-color: red green blue yellow;
  outline: 10px solid black;
}

/*! Assign-11 */
.assign5 div {
  width: 400px;
  margin: 20px auto;
  background-color: #EEE;
  padding: 20px;
}

.assign5 .shape-1 {
  border-left: 10px solid #E91E63;
  outline: #eee solid 10px;
}

.assign5 .shape-2 {
  visibility: hidden;
}

.assign5 .shape-3 {
  border-left: 10px solid #009688;
  outline: #eee solid 10px;
}

/*! Assign-12 */
.parent .child .title {
  color: red;
}

.parent .title {
  color: blue;
}

.parent p,
.title {
  color: green;
}

/*! Assign-13 */
.assign10 div {
  background-color: #A52A2A;
  width: fit-content;
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  max-height: 25px;
  overflow: hidden;
}

/*! Assign-14 */
.assign11 {
  font-size: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 0 #F44336, 2px 2px 0 #1C99F4, 3px 3px #BA6AC8;
}

/*! Assign-15 */
.assign12 p {
  font-size: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.assign12 .one {
  text-transform: uppercase;
}

.assign12 .two {
  text-transform: capitalize;
}

.assign12 .three {
  text-transform: lowercase;
}

/*! Assign-16 */
.assign13 div {
  background-color: #eee;
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin: 20px;
}

.assign13 .three {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*! Assign-17 */
.assign14 {
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
  display: block;
  width: fit-content;
  padding: 10px 20px;
  margin: 20px auto;
  background-color: #009688;
  border-bottom: 10px solid #00514A;
}

/*! Assign-18 */
.assign15-1 {
  border: 5px solid red;
  padding: 10px;
  text-align: center;
}

.assign15-1 p {
  border: inherit;
  padding: inherit;
  background-color: #eee;
}

.assign15-2 {
  border: 5px solid #009688;
  padding: 10px;
  text-align: center;
}

.assign15-2 p {
  border: inherit;
  padding: inherit;
  background-color: #eee;
}

/*! Assign-19 */
.assign16-1 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.assign16-2 {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  text-align: center;
}

.assign16-3 {
  font-family: 'Jomhuria', cursive;
  font-weight: 400;
  text-align: center;
}

/*! Assign-20 */
.assign17-1,
.assign17-2,
.assign17-3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.assign17-1 {
  font-size: 2.5rem;
}

.assign17-2 {
  font-size: 2rem;
}

.assign17-3 {
  font-size: 1.5rem;
}